{% extends "base.html" %}

{% block content %}

<div class="row single-post">
    <div class="single-post-card view-update {{ object.pk }}">
        <div class="header">
            <a href="{% url 'home' %}">
                {% if object.author.profile_pic %}
                    <img class="picture-circle--medium" src="http://{{ request.META.HTTP_HOST }}/{{object.author.profile_pic.url}}">
                {% endif %}
                {{ object.author.username }}
            </a>
        </div>
    </div>
</div>


{% endblock content %}